.textAlignCenter {
    text-align: center;
}

.trainList {
    margin: 2rem 0 1rem 0;
}

.train {
    margin: 1vh 0;
}

.trainNo {
    padding: 0.5rem;
    width: 25%;
}

.trainDepart {
    padding: 0.5rem;
    width: 20%;
}

.trainArrive {
    padding: 0.5rem;
    width: 20%;
}

.trainTripLine {
    padding: 0.5rem;
    width: 10%;
}

.trainTravelTime {
    padding: 0.5rem;
    width: 25%;
}

.railStyle {
    background-color: #f2f2f2;
}

.thsrStyle {
    background-color: #ffe6cc;
}