#absRoot {
    padding: 5vh 10% 0 10%;
}
@media (max-width: 480px) {
    #absRoot {
        padding: 2vh 10px 0 10px;
    }
}

/* Tab Selection Group (App.js) */
.tab-group {
  display: flex;
  margin-bottom: 20px;
}
.tab-btn {
  flex: 1;
  height: 48px; /* Ensure consistent hit target with other form elements */
}
.tab-btn-left {
  border-radius: 8px 0 0 8px;
}
.tab-btn-right {
  border-radius: 0 8px 8px 0;
}

@media (max-width: 350px) {
  .tab-btn {
    font-size: 0.9rem;
    padding: 0 5px;
  }
}